{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.question_details'|trans({'%id%': question.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.question_details'|trans({'%id%': question.id|default('')}) }}</h1>
    {% if question is defined and question|length %}
        <div class="post-question">
            <dl class="dl-horizontal">
                <dt>{{ 'label.id'|trans }}</dt>
                <dd>{{ question.id }}</dd>
                <dt>{{ 'label.title'|trans }}</dt>
                <dd>{{  question.title }}</dd>
                <dt>{{ 'label.author'|trans }}</dt>
                {% if question.author.nickname is defined %}
                <dd>{{  question.author.nickname }}</dd>
                    {% else %}
                    <dd>Anonymous</dd>
                {% endif %}
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ 'label.category'|trans }}</dt>
                <dd>{{  question.category.title }}</dd>
                <dt>{{ 'label.tags'|trans }}</dt>
                <dd>{{  question.tags|join(', ') }}</dd>
            </dl>
            <hr>
            <dl>
                <dt>{{ 'label.content'|trans }}</dt>
                <dd class="comment">{{ question.comment }}</dd>
                {% if question.image|default(null) %}
                    <dd><a href="{{ asset('uploads/' ~ question.image) }}" target="_blank"><img src="{{ asset('uploads/' ~ question.image) }}" class="w-25 img-thumbnail"></a></dd>
                {% endif %}
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ 'label.created_at'|trans }}</dt>
                <dd>{{ question.createdAt|format_date('long') }}</dd>
                <dt>{{ 'label.updated_at'|trans }}</dt>
                <dd>{{ question.updatedAt|format_date('long') }}</dd>
            </dl>
            <button>
                <a href="{{ url('answer_create', {id: question.id}) }}" title="{{ 'action.answer_this'|trans }}">
                    {{ 'action.answer_this'|trans }}
                </a>
            </button>
        </div>
        {% if pagination is defined and pagination.items|length %}
            {% for answer in pagination.items %}
                <div class="post-answer">
                    <dl class="dl-horizontal">
                        <dt>{{ 'label.id'|trans }}</dt>
                        <dd>{{ answer.id }}</dd>
                        <dt>{{ 'label.author'|trans }}</dt>
                        {% if pagination.author is defined %}
                            <dd>{{ answer.author }}</dd>
                        {% else %}
                            <dd>Anonymous</dd>
                        {% endif %}
                    </dl>
                    <hr>
                    <dl>
                        <dt>{{ 'label.content'|trans }}</dt>
                        <dd class="comment">{{ answer.comment }}</dd>
                        {% if answer.image|default(null) %}
                            <dd><a href="{{ asset('uploads/' ~ answer.image) }}" target="_blank"><img src="{{ asset('uploads/' ~ answer.image) }}" class="w-25 img-thumbnail"></a></dd>
                        {% endif %}
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>{{ 'label.created_at'|trans }}</dt>
                        <dd>{{ answer.createdAt|format_date('long') }}</dd>
                        <dt>{{ 'label.updated_at'|trans }}</dt>
                        <dd>{{ answer.updatedAt|format_date('long') }}</dd>
                    </dl>
                </div>
            {% endfor %}
    {% endif %}
        <p>
            <a href="{{ url('question_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}